#
# Example MySQL config file for large systems.
#
# This is for a large system with memory = 512M where the system runs mainly
# MySQL.

[client]
default-character-set=utf8
port            = 3306
socket          = /var/lib/mysql/mysql.sock

[mysqld]
collation_server=utf8_general_ci
character_set_server=utf8
port            = 3306
datadir         = /db/lib/mysql
socket          = /var/lib/mysql/mysql.sock
language        = /usr/share/mysql/english
user            = mysql
pid-file        = /db/lib/mysql/mysql.pid

key_buffer = 128M
max_allowed_packet = 100M
table_cache = 256
sort_buffer_size = 2M
read_buffer_size = 1M
read_rnd_buffer_size = 4M
myisam_sort_buffer_size = 64M
thread_cache_size = 16
query_cache_size= 32M
max_connections = 420

# Try number of CPU's*2 for thread_concurrency
innodb_thread_concurrency = 2
thread_concurrency = 2

#skip-networking

#
# Logging
#
log = /var/log/mysql/mysql.log
log-error = /var/log/mysql/mysql-err.log
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time         = 0.1

#
# InnoDB
#

# Uncomment the following if you are using InnoDB tables
innodb_data_home_dir = /db/lib/mysql/
innodb_data_file_path = ibdata1:1000M;ibdata2:1000M:autoextend
innodb_log_group_home_dir = /db/lib/mysql/
#innodb_log_arch_dir = /db/lib/mysql/
innodb_buffer_pool_size = 128M
innodb_additional_mem_pool_size = 20M
# Set .._log_file_size to 25 % of buffer pool size
innodb_log_file_size = 100M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 1
innodb_flush_method=O_DIRECT
innodb_lock_wait_timeout = 50

default-storage-engine=InnoDB


[mysqldump]
default-character-set=utf8
quick
max_allowed_packet      = 16M

[mysql]
default-character-set=utf8
no-auto-rehash

[mysqld_safe]
pid-file                = /var/run/mysqld/mysqld.pid
